<div class="chartWrapper box">
  <div id="chart"></div>
</div>
<div class="box center">
  <label for="startDate">Date :</label>
  <input name="startDate" id="startDate" class="date-picker" />
  <button id="buttonOrderByDepartment" class="sortButton">Order By Department</button>
  <button id="buttonOrderByAmount" class="sortButton">Order By Amount</button>
  <p class="info">
    Select a date above to get amount per department for this month<br/>
    A date between July 1, 2016 and the last month should be a good guess.</p>
</div>
<script type="text/javascript" src="/js/chartManager.js"></script>
<script>
  window.onload = function(){

    chartManager.bindTo("#chart")
    chartManager.loadData()

    $('#buttonOrderByDepartment').click(function(){
      chartManager.sortEventOn("department")
    })
    $('#buttonOrderByAmount').click(function(){
      chartManager.sortEventOn("amount")
    })

    /* date picker setting */
    $('.date-picker').datepicker({
        changeMonth: true,
        changeYear: true,
        showButtonPanel: true,
        dateFormat: 'MM yy',
        onClose: function(dateText, inst) {
            var dataDate = new Date(inst.selectedYear, inst.selectedMonth, 1)
            $(this).datepicker('setDate', dataDate);
            chartManager.getData(dataDate);
        }
    })
  }
</script>
