<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Delegated Contracts</title>
  </head>
  <!-- c3 -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.css"/>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.js"></script>
  <!-- lodash -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
  <!-- month picker -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>
  <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/dot-luv/jquery-ui.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <style>
    html,body{
      font-size: 1.1em;
      font-family: 'Roboto', sans-serif;
    }
    h1{
      text-align: center;
    }
    .info{
      color:#888;
      font-size: 0.9em;
    }
    .ui-datepicker{
      font-size: 12px;
    }
    #startDate{
      font-size: 16px;
    }
    .ui-datepicker-calendar {
      display: none;
    }
  </style>
<body>

<header>
    <h1>Delegated Contracts</h1>
</header>

<main>
    <% include ./elements/chart %>
</main>

<footer>
    <a href="#">Lien github</a>
</footer>

</body>
</html>
